<h3>GALLERY</h3>

<br />

<h4>You Know the Rules, Dont you :-</h4>
<p>
    &nbsp;&nbsp; &#10148; &nbsp;
    No Promotional Content, Spam, or Ads
    <br />
    &nbsp;&nbsp; &#10148; &nbsp;
    Don't upload copyright materials
    <br />
    &nbsp;&nbsp; &#10148; &nbsp;
    Don't upload without appropriate permissions
    <br />
    &nbsp;&nbsp; &#10148; &nbsp;
    Report the Crap
    <br />
    &nbsp;&nbsp; &#10148; &nbsp;
    I Moderate your Content
</p>

<br />

{{#if bool}}
{{else}}
<h4>Share your photos and videos :</h4>
<form class="formdiv" action="/gallery" method="post">
    &nbsp;&nbsp;
    <label for="title">Occasion: &nbsp;&nbsp;&nbsp;&nbsp;</label>
    <input name="title" placeholder="Enter the title of photoshoot" maxlength="100" required></input>
    <br /><br />&nbsp;&nbsp;
    <label for="link">Link: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
    <input name="link" placeholder="Enter the media location link (like google drive folder link) " maxlength="500"
        required></input>
    <br /><br />&nbsp;&nbsp;
    <label for="thumb">Thumbnail: &nbsp;</label>
    <input name="thumb" placeholder="Enter the photo location link to used as thumbnail (like direct image link from imgbb)"
        maxlength="500" required></input>
    <br /><br />&nbsp;&nbsp;
    Hint: You can upload an image on <a href="https://imgbb.com/upload" target="_blank">imgbb</a> and get its <i>direct
        link</i> or fill in <i>https://i.ibb.co/HBHm0Vr/gallery.png</i>
    <br /><br />&nbsp;&nbsp;
    <button class="menuElement" type="submit">Submit</button>
</form>

<br />

{{> _notifylogin}}

<br />
{{/if}}

<p>
    {{#each media}}
    <span class="curruser">{{../user.username}}</span><br /><span class="msguser">{{user}}</span><span> added:</span><br />
    <p class="blueChat description pa" onclick="javascript:location.href='{{link}}'">
        <img class="gallery" src="{{thumb}}" alt="Media Link" onclick="javascript:location.href='{{link}}'" />{{title}}
    </p>
    <form class="hidden" method="post" action="/gallery/{{id}}?_method=DELETE">
        <input type="hidden" name="_method" value="DELETE">
        <button type="submit" class="menuElement leftButton" value="Delete">Delete</button>
    </form>
    {{else}}
    <p class="blueChat description">
        <img class="gallery" src="https://image.ibb.co/dExaZm/original.gif" alt="Gallery Empty" />
        The Gallery has no more content or An Error Occured!<br />You may add some Media
    </p>
    {{/each}}
</p>

<br />

<p>
    <a class="menuElement centerButton" onclick=href='/gallery{{nextpage}}'>View More</a>
</p>

<br />

{{> _about}}

<script src="./js/hidedelete.js"></script>